* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.image {
  z-index: -1;
}
/* Top left text */
.top-left {
  position: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 8px;
  left: 16px;
  font-size: 40px;
  margin-top: 2%;
}

/* Top right text */
.top-right {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 35px;
  transform: translate(-50%, -50%);
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered button {
  position: fixed;
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  border: 5px solid #1e90ff;
  cursor: pointer;
  border-radius: 100px;
  font-size: 20px;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image {
  background-size: 100%;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}

.centered,
.top-right {
  color: #fff222;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/* Pulse class and keyframe animation */
. {
  -webkit-animation: pulse linear 1s infinite;
  animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse {
  0% {
    width: 200px;
  }
  50% {
    width: 340px;
  }
  100% {
    width: 200px;
  }
}
@keyframes pulse {
  0% {
    width: 200px;
  }
  50% {
    width: 340px;
  }
  100% {
    width: 200px;
  }
}
